<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doacao_.projeto_integrador">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Tela_Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Logar_Usuario"
            android:label="@string/usuario" />
        <activity
            android:name=".activity.Logar_Instituicao"
            android:label="@string/istituicao" />
        <activity
            android:name=".activity.Novo_Cadasto"
            android:label="@string/cadastro" />
        <activity
            android:name=".Cadastro_instituicao"
            android:label="@string/cadastro_instituicao" />
        <activity
            android:name=".Cadastro_Usuario"
            android:label="@string/cadastro_usuario" />
        <activity
            android:name=".Redefinir_Sanha"
            android:label="@string/nova_senha" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.ListActivity"></activity>
    </application>

</manifest>